<div class="ip-event-info">
  <h2 id="title">Interpalooza 2016</h2>
  <section>
    <aside>What is it?</aside>
    <article>Our annual partay</article>
  </section>
  <section>
    <aside>Who can attend?</aside>
    <article>Anyone within 100km of head office</article>
  </section>
</div>
